.popup--2 {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-color: $color-primary;

  visibility: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12vh;
}

.navigation--btn__nav {
  display: none;
}
