.container__navigation {
  grid-row: 1/1;
  grid-column: 1/1;

  background-color: $color-primary;

  padding: 2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 50%;

  &__link {
    text-decoration: none;
  }
  &__image {
    margin-left: 2rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    width: 14rem;

    @media only screen and(max-width:600px) {
      height: 3.5rem;
      width: 15rem;
      //margin-bottom: 1rem;
      margin-left: 0;
    }
  }
  @media only screen and(max-width:750px) {
    width: 80%;
    justify-items: flex-start;
    margin-right: 20rem;
  }
  @media only screen and(max-width:600px) {
    width: 70%;
  }
  @media only screen and(max-width:500px) {
    margin-right: 10rem;
  }
  @media only screen and(max-width:400px) {
    margin-right: 0rem;
  }
}

.navigation {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;

  &--nav {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
  }

  &--nav__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: $color-white;
    font-family: $font-poppins;
  }

  @media only screen and(max-width:900px) {
    width: 80%;
  }

  @media only screen and(max-width:750px) {
    display: none;
  }
}

.navigation--btn {
  display: none;
  // z-index: 99999999;

  @media only screen and(max-width:750px) {
    display: block;
    width: 20%;
    visibility: visible;
  }
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-primary;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 1rem;

    border-radius: 50%;
    z-index: 2000;

    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 2.5rem;

    background-image: radial-gradient($color-primary, $color-primary);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 6vw;
      font-weight: 700;
      padding: 0.5rem 2rem;

      text-decoration: none;
      text-transform: uppercase;

      @media only screen and(max-width:500px) {
        font-size: 8vw;
      }
    }

    & {
      color: $color-white;
    }

    &-active {
      color: $color-secondary;
      font-weight: 600;
    }
  }

  //FUNCTIONALITY
  // &__checkbox:checked ~ &__background {
  //   transform: scale(80);
  // }

  // &__checkbox:checked ~ &__nav {
  //   opacity: 1;
  //   width: 100%;
  // }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;

      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      background-color: $color-white;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.logo--btn {
  margin: 3rem 14rem;
  width: 100%;
  height: 40%;
}

.active,
.work {
  color: $color-secondary;
  font-weight: 600;
}
.navigation--btn__button {
  visibility: visible;
}
