.container__workpage {
  grid-row: 3 / 4;
  grid-column: 1 / 1;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  row-gap: 6rem;

  background-color: $color-white;

  padding: 9rem;
  justify-items: center;

  @media only screen and(max-width:1200px) {
    padding: 9rem 4rem;
  }
  @media only screen and(max-width:1200px) {
    column-gap: 1rem;
  }
  @media only screen and(max-width:1200px) {
    padding: 9rem 2rem;
  }
  @media only screen and(max-width:900px) {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 12rem;
  }
  @media only screen and(max-width:660px) {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 12rem;
  }
  @media only screen and(max-width:500px) {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 12rem;
  }
}

.grid__container {
  width: 30rem;

  background-color: white;
  justify-items: center;
  @media only screen and(max-width:400px) {
    width: 60rem;
  }

  &--1-paragraph {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    visibility: hidden;
  }

  &-link {
    background-size: cover;

    font-size: 1.4vw;
    color: $color-white;
    text-decoration: none;
    font-weight: 200;
    font-family: $font-poppins;

    height: 30rem;

    display: block;

    &:hover > .grid__container--1-paragraph {
      visibility: visible;
    }
    &:hover {
      background-image: none;
    }
  }
}

.grid__container--image {
  &-1 {
    background-image: url("../img/grid1.jpg");
    background-color: $color-grid-1;
  }

  &-2 {
    background-image: url("../img/grid2.jpg");
    background-color: $color-grid-2;
  }
  &-3 {
    background-image: url("../img/grid3.jpg");
    background-color: $color-grid-3;
  }
  &-4 {
    background-image: url("../img/grid4.png");
    background-color: $color-white;
  }
  &-5 {
    background-image: url("../img/grid5.png");
    background-color: $color-white;
  }
  &-6 {
    background-image: url("../img/grid6.jpg");
    background-color: $color-grid-4;
  }
  &-7 {
    background-image: url("../img/grid7.jpg");
    background-color: $color-grid-5;
  }
  &-8 {
    background-image: url("../img/grid8.jpg");
    background-color: $color-grid-6;
    line-height: 1.5;
  }
  &-9 {
    background-image: url("../img/grid9.jpg");
    background-color: $color-grid-7;
  }
  &-10 {
    background-image: url("../img/grid10.jpg");
    background-color: $color-grid-8;
  }
  &-11 {
    background-image: url("../img/grid11.jpg");
    background-color: $color-grid-9;
  }
  &-12 {
    background-image: url("../img/grid12.jpg");
    background-color: $color-grid-10;
  }
  &-13 {
    background-image: url("../img/grid13.png");
    background-color: $color-white;
  }
  &-14 {
    background-image: url("../img/grid14.jpg");
    background-color: $color-grid-11;
  }
  &-15 {
    background-image: url("../img/grid15.png");
    background-color: $color-white;
  }
  &-16 {
    background-image: url("../img/grid16.jpg");
    background-color: $color-grid-12;
  }
  &-17 {
    background-image: url("../img/grid17.jpg");
    background-color: $color-grid-13;
  }
  &-18 {
    background-image: url("../img/grid18.jpg");
    background-color: $color-grid-14;
  }
  &-19 {
    background-image: url("../img/grid19.png");
    background-color: $color-white;
  }
  &-20 {
    background-image: url("../img/grid20.png");
    background-color: $color-white;
  }
}

.grid__container--4-link {
  background-size: cover;
  font-size: 1.4vw;
  color: $color-white;
  text-decoration: none;
  font-weight: 200;
  font-family: $font-poppins;
  height: 30rem;
  display: block;
}

.grid__container--5 {
  grid-column: 1/3;
  width: 60rem;
}

.grid__container--19 {
  grid-column: 2/4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-break: 1.5;
  width: 60rem;

  @media only screen and(max-width:1200px) {
    grid-column: 1/3;
  }
}

.grid__container--15 {
  grid-column: 1/3;
  width: 60rem;
}

.grid__container--13 {
  grid-column: 2/4;
  width: 60rem;

  @media only screen and(max-width:1200px) {
    grid-column: 1/3;
  }
}

.grid__container--13,
.grid__container--15,
.grid__container--19,
.grid__container--5 {
  @media only screen and(max-width:400px) {
    grid-column: 1/2;
  }
}

.grid__container--1-name,
.grid__container--2-name {
  display: block;
  text-decoration: none;
  line-height: 3rem;
  padding-top: 1.5rem;
}

.grid__container--2-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__container--h4,
.grid__container--h4-2,
.grid__container--h4-3 {
  font-weight: 700;
  font-family: $font-poppins;

  color: $color-primary;
}

.grid__container--h4-2 {
  font-size: 1.67vw;
  font-family: $font-domine;
  text-align: center;
}

.grid__container--h4-3 {
  font-size: 4.16vw;
  text-align: center;
  font-family: $font-domine;
  font-weight: 700;
}
.grid__container--h4,
.grid__container--h4-2,
.grid__container--h4-3 {
  font-size: 1.67vw;
  @media only screen and(max-width:800px) {
    font-size: 2.3rem;
  }
  @media only screen and(max-width:480px) {
    font-size: 2.6rem;
  }
}

.grid__container--paragraph,
.grid__container--paragraph-2 {
  font-size: 1.38vw;
  font-weight: 200;
  font-family: $font-poppins;
  color: $color-primary;
}
.grid__container--paragraph-2 {
  font-weight: 700;
  color: $color-secondary;
  &:hover {
    color: $color-primary;
  }
}

.grid__container--paragraph,
.grid__container--paragraph-2 {
  font-size: 1.38vw;
  @media only screen and(max-width:800px) {
    font-size: 1.3rem;
  }
  @media only screen and(max-width:480px) {
    font-size: 2.3rem;
  }
}
strong {
  font-weight: 700;
}

.cta {
  width: 80%;
  height: 7rem;
  padding: 2rem;
  font-family: $font-poppins;
  font-size: 2vw;
  border: 2px solid $color-primary;
  @media only screen and(max-width:480px) {
    font-size: 2.6rem;
  }

  &:focus {
    border: 2px solid $color-grid-2;
    outline: none;
  }

  &__submit {
    font-family: $font-poppins;
    font-size: 2vw;
    color: $color-secondary;
    background-color: $color-white;
    outline-style: none;
    border: none;
    cursor: pointer;
    font-weight: 600;

    @media only screen and(max-width:480px) {
      font-size: 2.6rem;
    }
  }
}

label {
  visibility: hidden;
}
